<div class="row">
  <div class="col-md-8">
    <h1 class="my-4">Latest Posts</h1>
    <%unless @posts.blank?%>
      <%@posts.each do |post|%>
        <div class="card mb-4">
          <div class="card-body">
            <h2 class="card-title"><%= post&.title %></h2>
            <p class="card-text"><%= post&.body %></p>
            <%= link_to blog_path(id: post.id), class: 'btn btn-primary' do%>
              Read More &rarr;
            <%end%>
          </div>
        </div>
      <%end%>
    <%end%>
  </div>
</div>
