<%if @post.present?%>
  <div class="row">
    <div class="col-md-8">
      <h1 class="my-4"><%= @post&.title %></h1>
        <div class="card mb-4">
          <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title"><%= @post&.title %></h2>
            <p class="card-text"><%= @post&.body %></p>
          </div>
            <div class="card-footer text-muted">
            <%=Date.today.strftime("%b %d, %Y")%> by
            <a href="javascript:;">JsonApiBuilder</a>
          </div>
        </div>
    </div>
  </div>
<%end%>
