<div style=" margin-top: 80px;">
<h1>Welcome to Home Page</h1>

<% if current_user.present? %>
  <div>
    <a href="/meetings/new" class="btn btn-outline-primary" role="button" aria-pressed="true">Create Meeting</a>
  </div>
<% end %>
</div>