.videos{
  .user_image{
    position:absolute;
    left:50%;
    top:30%;
    img{
      display: block;
      width: 120px;
      height: 120px;
      border: 5px solid #fff;
      border-radius: 100%;
      box-shadow: 0 0 10px rgba(0,0,0,.4);
    }
  }
}

.video_chat_wrapper {
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #0009;
}



.chat {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color:#fff;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
}

.chat.active {
  transform: translateX(0);
}



.btn-chat {
  height: 5em;
  width: 5em;
  border-radius: 50%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
  position: fixed;
  right: 7em;
  bottom: 1em;
  cursor: pointer;
  text-align: center;
  background: #fff;
  z-index: 99;
}

.btn-chat svg {
  height: 5em;
  width: 2.5em;
  display: inline-block;
}



.videos {
  flex: 1;
  display: flex;
  position: relative;
}

.subscriber.grid4 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
}

.subscriber.grid9 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
}

.subscriber,
.screenshare {
  width: 100%;
  height: 100%;
  display: flex;
}

.publisher {
  position: absolute;
  width:300px;
  height:300px;
  min-width: 8em;
  min-height: 8em;
  align-self: flex-end;
  z-index: 1;
  background: #fff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  padding: 10px;
}

.audio {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.audio {
  display: none;
}

.dark {
  --background: black;
  --chat-mine: lime;
  --chat-theirs: violet;
  --txt: white;
}
.video_heading{
  padding: 20px 40px;
  background: #151515;
  text-align:left;
  p{
  letter-spacing: 4px;
  color: #fff;
  font-size: 20px;
  }
}

/*===============================================*/
.wdth100 {
  width: 100%;
  float: left;
}

.d_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat_wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 33%;
  height: 100%;
  position: fixed;
  top: 0;
  left: auto;
  right: 0;
  z-index: 999;
  background-color: #fff;
  transition: transform 0.5s ease;
}
.tranfrm100{
  transform: translateX(100%);
}
.tranfrm0{
  transform: translateX(0);
}

.profile_icn>i {
  color: #fff;
}

.logo>img {
  max-width: 100px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 20px;
}

.profile_icn img {
  margin-left: 10px;
}

.chat_header {
  background: #0009;
  padding: 10px;
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
  position: relative;

  width:100%;
}

.chat_headerimg {
  max-width: 100%;
}
.back_icn{
     position: absolute;
    right: 20px;
}
.back_icn img {
    width: 29px;
    background: #fff;
    border-radius: 20px;
    padding: 6px;
    line-height: normal;
}

.chat_header h5 {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  margin-left: 16px;
}

.chat_header h5>span {
  display: block;
  font-size: 12px;
  color: rgba(250, 250, 250, .8);
  margin-top:10px;}

.list_icn {
  position: absolute;
  right: 0;
}

.chat_body_wrap {
  background: #eaede2;
  height: calc(100vh - 53px);
  position: relative;
  overflow: hidden;
}

.chat_body {
  padding: 10px;
  height: auto;
  overflow-y: auto;
  position: absolute;
  left: 0;
  right: 0;
  max-height: calc(100vh - 100px);
}

.chat_body p {
  font-size: 13px;
  line-height: normal;
  font-weight: 500;
  text-transform: initial;
}

.incoming_msg {
  float: left;
  margin-left: 12px;
  border-top-left-radius: 0px !important;
}

.incoming_msg,
.outgoing_msg {
  background: #fff;
  min-height: 30px;
  border-radius: 4px;
  padding: 6px 12px;
  position: relative;
  box-shadow: 3px 2px 10px #ada8a8;
  margin-bottom: 12px;
  max-width: 250px;
  width: 100%;
}

.incoming_msg:before {
  content: '';
  position: absolute;
  top: -6px;
  left: -10px;
  background: url(../assets/arrow_down.svg)no-repeat;
  background-size: 100%;
  width: 20px;
  height: 20px;
}

.chat_tym{
  position: absolute;
  right: 5px;
  bottom: 2px;
  font-size: 11px;
  color: rgba(0, 0, 0, .6);
}

.outgoing_msg {
  background: #e3ffc8;
  float: right;
  margin-right: 12px;
}

.outgoing_msg:after {
  content: '';
  position: absolute;
  top: -6px;
  right: -10px;
  background: url(../assets/arrow_green.svg)no-repeat;
  background-size: 100%;
  width: 20px;
  height: 20px;
}

.write_msg {
  position: absolute;
  bottom:7px;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
}

.chat_wrap {
  position: relative;
  max-width: 100%;
  width: 100%;
  margin-right: 10px;
}

.chat_input {
  border: none;
  border-radius: 30px;
  padding: 9px 38px 9px 20px;
  width: 100%;
  font-size: 15px;
  color: #111111;
  text-transform: initial;
  font-weight: 500;
}

.chat_input:focus {
  outline: none;
}

.camera_icn {
  position: absolute;
  right: 12px;
  top: 50%;
  margin-top: -30px;
}

.camera_icn>img {
  width: 26px;
}

.voice_icn {
  display: inline-block;
  img{
    height:35px;
    width:35px;
  }
}

.chat_input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, .54);
  text-transform: initial;;
  font-family: 'Roboto', sans-serif;
  color: #111111;
  font-weight: 500;
}

.chat_input::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(0, 0, 0, .54);
  text-transform: initial;;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.chat_input:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(0, 0, 0, .54);
  text-transform: initial;;
  font-family: 'Roboto', sans-serif;
  color: #111111;
  font-weight: 500;
}

.chat_input:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(0, 0, 0, .54);
  text-transform: initial;;
  font-family: 'Roboto', sans-serif;
  color: #111111;
  font-weight: 500;
}

.upld_btn_wrap {
  position: relative;
}

.upld_btn_wrap input {
  opacity: 0 !important;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.video_btns_wrap{
  display:flex;
  position: absolute;
  margin-left:45%;
  bottom:50px;
  z-index: 9999999999999999;
  img{
      width: 57px;
    height: 55px;
    background: #fff;
    margin: 0 10px;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
  }
  .call_drop_icon{
   img{
    background:#f00505;

   }
  }
}

.profile_icn{
  img{
    width:45px;
    height:45px;
    object-fit:cover;
    border-radius:100%;
  }
}
textarea.form-control{
  font-weight: normal !important;
  /*font-size: 1.6rem !important;*/
  border: 1px solid #D0D0D0 !important;
  color: #606060 !important;
  font-family: OpenSans-Regular !important;
}



.profile_pic_section_wrap{
  display:flex;
  flex-wrap:wrap;
  width:100%;
  .slug-title{
    width:100%;
  }
  label{
    margin:10px 0px;
  }
  .profile_image {
    position:relative;
    img{
    position: absolute;
    right: 31px;
    z-index: 999;
    top: 44px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
  }
    input{
      height:55px;
    }
}
  select{
    height: 40px;
    width: 100%;
    padding: 0px 15px;
    font-family: OpenSans-Regular;
    font-size: 1.6rem;
    color: #606060;
    border: 1px solid #dadada;
    font-weight:normal;
  }
}

.meeting-expired{
  width: 20px;
  height: 20px;
  object-fit: cover;
}



@media only screen and (min-width: 310px) and (max-width: 767px) {
  .videos{
  .user_image{

    left:37%;

    img{

      width: 80px;
      height:80px;

    }
  }
}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .videos{
  .user_image{

    left:30%;

    img{

      width: 80px;
      height:80px;

    }
  }
}
}

.chat_image{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  position: absolute;
  top: -19px;
  
}

.chatbox h5{
  color: #777;
  top: -19px;
  position: absolute;
}

#chat_incoming_msg{
  margin-top: 70px;
}
.incoming_msg{
  margin-left: 45px;
}
.outgoing_msg{
  margin-right: 45px;
}
.incoming_msg .chat_image{
  left: -52px;
}
.outgoing_msg .chat_image{
  right: -52px;
}
.incoming_msg h5{
  left: 0;
}
.outgoing_msg h5{
  right: 0;
}
